# OS
.DS_Store

# VSCode
.vscode/*
!.vscode/extensions.json

# dependencies
node_modules/
package-lock.json

# env
.env
.env.local
.envrc

# log
*.log

# output
dist/
.next/

# graphql-codegen
src/graphql/codegen/

# ESLint
.eslintcache

